<style>
	body {

	background:url("https://cdnb.artstation.com/p/assets/images/images/010/393/289/large/dean-lawrence-hallway-side.jpg?1524261261"); 

 }
</style>

<br>
<div id="container">
<h1><em><strong><font color="white" >Une ESC... Et après?</em></h1></strong>

<ul class="list-inline">
<br></br>
	<li class="list-inline-item">
		<div><img src="https://flaticons.net/icons/People/User-Group.png" style="width:200px;height:200px;"> <br><br><strong>Faites jouer vos réseaux</br></br></div></strong>
		<div><em>Jouez de vos relations <br> et créez vous des associés</div></em>
	</li>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<li class="list-inline-item">	
		<div><img src="https://www.schneider-electric.co.in/en/Images/Corp-Graph-up-white.png" style="width:300px;height:200px;"> <strong><br><br>Négociez une augmentation</strong></br></br></div>
		<div><em>La double compétence est rare, <br> faite augmenter votre salaire</em></div>
	</li>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<li class="list-inline-item">	
	<div><img src="http://www.clker.com/cliparts/F/5/I/M/f/U/running-icon-white-on-transparent-background-md.png" style="width:200px;height:200px;"> <br><br><strong>Lancez vous</strong></br></br></div>
	<div><em>Créez votre business <br> en développant vos compétences</em></div>
	</li>
</ul>
<br></br>

<a href="/contacts/new" class="btn btn-success"><em>En savoir plus sur THP</em></button></br></a>

</div>

