<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-129312972-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-129312972-1');
</script>

<div id= "Headers">

<br></br>
<br></br>


      <!-- Three columns of text below the carousel -->
          <ul class="list-inline">

          <li class="list-inline-item">
            <img class="rounded-circle" src="https://media.istockphoto.com/vectors/young-man-head-avatar-character-vector-id900109848?s=170x170" alt="Generic placeholder image" width="170" height="170">
              <div class="card-body">
                  <h4 class="card-title"><font color="white">Alex <strong><em>Lovergne</em></strong></font></h4>
                  <h6 class="category text-gray">
                    <em><strong><font color="white">Designer</font>
                  </h6></strong></em>
              </div>
                  <p class="card-description">
                    <em><font color="white">Co-founders.</font></em>
                    
                  </p>
                  <a></a>
            </li>
            &nbsp;&nbsp;&nbsp;
            <li class="list-inline-item"><!-- /.col-lg-4 -->
              <img class="rounded-circle" src="http://media.gettyimages.com/vectors/serious-man-avatar-vector-id1025609314?s=170x170" alt="Generic placeholder image" width="170" height="170">
             <div class="card-body">
                  <h4 class="card-title"><font color="white">Maxime <strong><em>Martin</em></strong> </font></h4>
                  <h6 class="category text-gray">
                    <em><strong><font color="white">Sales</font>
                  </h6></strong></em>
              </div>
                  <p class="card-description">
                    <em><font color="white">Co-founders.</font></em>
                  </p>



               
        </li>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <li class="list-inline-item"><!-- /.col-lg-4 -->
            <img class="rounded-circle" src="
            https://photos3.fotosearch.com/bthumb/CSP/CSP759/indiff%C3%A9rent-homme-avatar-clipart__k45474003.jpg" width="170" height="170">
            <div class="card-body">
                  <h4 class="card-title"><font color="white">Corentin <strong><em>Nadeau</em></strong></font></h4>
                  <h6 class="category text-gray">
                    <em><strong><font color="white">Data Analyst</font>
                  </h6></strong></em>
            </div>
                  <p class="card-description">
                    <em><font color="white">Co-founders. </font></em>
                    
                  </p>
                
      </li>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <li class="list-inline-item"><!-- /.col-lg-4 -->
            <img class="rounded-circle" src="http://media.gettyimages.com/vectors/call-center-agent-head-avatar-character-vector-id892227764?s=170x170" alt="Generic placeholder image" width="170" height="170">
            <div class="card-body">
                  <h4 class="card-title"><font color="white">Victor <strong><em>Douay</em></strong></font></h4>
                  <h6 class="category text-gray">
                    <em><strong><font color="white">Digital Chief Officer</font>
                  </h6></strong></em>
            </div>
                  <p class="card-description">
                    <em><font color="white">Co-founders. </font></em>
                    
                  </p>
                
      </li>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       <li class="list-inline-item"><!-- /.col-lg-4 -->
            <img class="rounded-circle" src="https://photos2.fotosearch.com/bthumb/CSP/CSP008/f%C3%A2ch%C3%A9-homme-avatar-utilisateur-pic-clipart__k45474014.jpg" alt="Generic placeholder image" width="170" height="170">
            <div class="card-body">
                  <h4 class="card-title"><font color="white">Hava <strong><em>Guerni</em></strong></font></h4>
                  <h6 class="category text-gray">
                    <em><strong><font color="white">Intern</font>
                  </h6></strong></em>
            </div>
                  <p class="card-description">
                    <em><font color="white">Co-founders. </font></em>
                    
                  </p>
                 

      </li>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
