<style>
	body {

	background:url("http://s3.amazonaws.com/medias.photodeck.com/389f9059-5953-4eba-8ca6-7f9cbd4995d8/151023-0043_HOUSTON_TEXAS_xgaplus.jpg"); 

 }
</style>

<br>
<div id="container">
<h1><em><strong><font color="black" >THP dans votre ville...</em></h1></strong>

<ul class="list-inline">
<br></br>
	<li class="list-inline-item">

		<div><img src="http://icons.iconarchive.com/icons/iconsmind/outline/256/Coins-icon.png" style="width:180px;height:180px;"> <br><br><strong><font color="black" >Investissez sur vos habitants</br></br></div></strong>
		<div><em>Permettez leur de nous connaître <br> pour développer leurs compétences</div></em>
	</li>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<li class="list-inline-item">	
		<div><img src="
		http://simpleicon.com/dev/wp-content/uploads/town-tower-1.png" style="width:180px;height:180px;"> <strong><br><br><font color="black" >Faites vous connaître</strong></br></br></div>
		<div><em><font color="black" >Nous répartissons les groupes par villes <br> ce qui leurs confèrents une identité</em></div>
	</li>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<li class="list-inline-item">	
	<div><img src="https://png.pngtree.com/svg/20170408/human_resources_108014.png
" style="width:180px;height:180px;"> <br><br><strong><font color="black" >Organisez votre ville</strong></br></br></div>
	<div><em>Créez des espaces de coworking <br> et devenez compétitifs</em></div>
	</li>
</ul>
<br></br>
<a href="/contacts/new" class="btn btn-success"><em>En savoir plus sur THP</em></button></br></a>

</div>

