<div id= "container">





<br><h1><em><font color="white">Recevoir un mail pour plus d'informations</h1></em></br>



<%= render 'form', contact: @contact %>

<%= link_to 'Back', contacts_path %>

<iframe width="653" height="350" src="https://www.youtube.com/embed/NbZ0KD2Jcr0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


</div>